{% extends "base_v1.html" %}
{% block title %}
    ADA Collection
{% endblock %}
{% block page_title %}
{% endblock %}
<!-- Page content -->
{% block content %}
    <!-- ======= Hero Section ======= -->
    <section id="hero" class="d-flex align-items-center">
    <div class="container d-flex flex-column align-items-center" data-aos="zoom-in" data-aos-delay="100">
      <h1>ADA Collection</h1>
      <h2>Сервіс для професіоналів!</h2>
      <a href="#" class="btn-about">Розпочати роботу</a>
    </div>
    </section><!-- End Hero -->
{% endblock%}